@import './base.css';

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 40px;

  grid-template-areas: 'main' 'sidebar';
  height: 100vh;
}
.sidebar {
  grid-area: sidebar;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(210, 6%, 31%, 0.2);
  > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    > li {
      margin: 0 10px;
      > a {
        display: flex;
        gap: 0.8rem;
      }
    }
  }
}
.main {
  grid-area: main;
  padding: 20px;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (width >= 1024px) {
  #app {
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 'sidebar main';
  }
  .sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border: 1px solid red;
    > ul {
      flex-direction: column;
      border: 1px solid blue;
    }
  }
}
