@import './base.css';

#app {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 48px;

  grid-template-areas:
    'main'
    'navbar';
}

@media (width >= 1024px) {
  #app {
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 'navbar main';
  }
}
